<div>
  <%= form_with model:@item, url: {controller: 'admin/items', action: 'update'}, local:true do |f| %>

  <div>
    <label>商品画像<%= f.attachment_field :image %></label>
  </div>

  <div>
    <label>商品名<%= f.text_field :name %></label>
  </div>

  <div>
    <label>商品説明<%= f.text_area :introduction %></label>
  </div>

  <div>
    <label>
      ジャンル<%= f.collection_select(:genre_id, Genre.all, :id, :name, {:prompt => "選択してください"}) %>
    </label>
  </div>

  <div>
    <label>税抜価格 <%= f.text_field :price %>円</label>
  </div>

  <div>
    販売ステータス
    <%= f.radio_button :is_active, true %>
    <%= f.label :is_active, "販売中", value: true %>
    <%= f.radio_button :is_active, false %>
    <%= f.label :is_active, "販売停止中", value: false %>
  </div>

  <%= f.submit "変更を保存" %>
  <% end %>
</div>