<div>
  <%= form_with model:@genre, url: {controller: 'admin/genres', action: 'index'}, local:true do |f| %>
  <label>ジャンル名<%=f.text_field :name %></label>
  <%= f.submit '新規登録' %>
  <% end %>
</div>

</label>
</div>
<div>
  <table>
    <thead>
      <tr>
        <th colspan="2">ジャンル</th>
      </tr>
    </thead>
    <tbody>
      <% @genres.each do |genre| %>
      <tr>
        <td>
          <%= genre.name %>
        </td>
        <td>
          <button><%= link_to '編集', edit_admin_genre_path(genre) %></button>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>